/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0661c2;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #0661c2;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li+li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #0661c2;
}

.services:hover .dropdown {
  display: block;
}



.post{
  display: block;
}

.postsec {

  border: 1px solid green;
  padding-top: 10px;
  margin: 20px;
  background-color: #9dcbfd;
}
.postsec h3{
  width: 200px;
  height: 3px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 40px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #9dcbfd;
}
.postsec h4 {

  padding: 5px;
  padding-top: 100px;
  padding-bottom: 10px;
  margin: 2px;
  margin-top: 0px;
  background-color: #eaf6c0;
}
.postsec h5 {

  padding: 5px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin: 2px;
  margin-top: 0px;
  background-color: #eaf6c0;
}
